/* colors */

.badge-primary,
.add-to-cart,
.dark-footer-margin,
.header-categories-nav-wrap,
.topbar-text-color,
.nva-color,
.subscribe-form button,
.custom-row,
.copyright,
.product-grid .social li a:hover,
.button-success,
.button-success:hover, .button-success:focus, .button-success-outline:hover, .button-success-outline:focus,
.nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.toggle-input:checked+.toggle.switch, .toggle.switch.is-active,
.toggle-input:disabled:checked+.toggle.switch, .toggle.switch.is-active.is-disabled,
.toggle-input:checked+.toggle.radio, .toggle.radio.is-active,
.toggle-input:disabled:checked+.toggle.radio, .toggle.radio.is-active.is-disabled,
.toggle-input:disabled:checked+.toggle.switch, .toggle.switch.is-active.is-disabled,
.toggle-input:checked+.toggle.checkbox, .toggle.checkbox.is-active,
.toggle-input:disabled:checked+.toggle.checkbox, .toggle.checkbox.is-active.is-disabled {
    background-color: #1a237e !important;
}


.see-all-category,
.setting-icon,
.single-cta i,
.copyright-text p a,
.link-color,
.featured-section-view-more,
.header-h1 .mobile-app-text,
.icon-hover:hover,
small.transparent-footer-link a,
ul.sub-submenu li:hover,
.footer-menu li:hover a,
.category li:hover .cat-name,
.category li:hover .cat-no,
.footer-widget ul li a:hover,
.product-grid:hover .title a,
.span-color,
.header-icon:hover, .header-icon:focus,
.sidebar #leftside-navigation ul li a:hover,
.link-color circle,.link-color polyline,.link-color path{
    color: #1a237e !important;
    stroke: #1a237e !important;
}

.progress-bar {
    background-image: linear-gradient(to right top, #1a237e, #1a237e, #1a237e, #1a237e, #1a237e) !important;
}

.subscribe-form button {
    border: #1a237e !important;
}

.footer-widget-heading h3::before,
.swiper-pagination-bullet-active{
    background: #1a237e !important;
}

.style-3-product-right-lg .product-grid {
    border: 1px solid #1a237e !important;
}

.sidenav .nav-link.active{
    box-shadow: 0 2px 0 #1a237e !important;
}

.button-success,
.button-success:hover, .button-success:focus, .button-success-outline:hover, .button-success-outline:focus{
    border-color: #1a237e !important;
}

.colored-breadcrumb,
.page-footer {
    background-color: rgb(0 201 167 / 32%) !important;
}